@media (max-width: 768px) {
    .sortable-grid {
        grid-template-columns: repeat(3, 1fr);
        /* Change to 3 columns on screens with a maximum width of 768px */
    }

    @media (max-width: 480px) {
        .sortable-grid {
            grid-template-columns: repeat(2, 1fr);
            /* Change to 2 columns on screens with a maximum width of 480px */
        }
    }

    @media (max-width: 320px) {
        .sortable-grid {
            grid-template-columns: repeat(1, 1fr);
            /* Change to 1 column on screens with a maximum width of 320px */
        }
    }
}